@charset "UTF-8";
html {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic W3", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS P Gothic", sans-serif;
  font: 17px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
/*  line-height: normal;*/
  line-height: 1.8em;
  background-color: #2d0f00;
  padding: 0.5em;
}

/* Opera 9 */
body {
  font-family: "メイリオ", Meiryo, sans-serif;
}

/* Internet Explorer 7 */
*:first-child + html body {
  font-family: "メイリオ", Meiryo, sans-serif;
}

/* Internet Explorer 6 or sooner */
* html body {
  font-family: "メイリオ", Meiryo, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 100%;
  font-size: inherit;
}

fieldset,
img {
  border: 0;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4 {
}

strong {
  color: #6abee5;
}

em {
  font-weight: bold;
  font-style: normal;
}

b {
  border-bottom: 1px dashed #c33;
  font-weight: normal;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #333;
}


pre, code {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* HTML5 リセット */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* clearfix */
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

/* リンク */
a:link {
  color: #339963;
  text-decoration: none;
}

a:visited {
  color: #339963;
  text-decoration: none;
}

a:active {
  color: #339963;
  text-decoration: none;
}

a:hover {
  color: #339963;
  text-decoration: underline;
}

/* **** グローバル定義 **** */
#whitebase {
  width: 100%;
  background-color: #eeeeee;
}

#header {
  height: 101px;
  width: 100%;
  background: transparent url(../images/header-bg-4.png) center center;
  border-bottom: 7px solid #aaa;
}
#header #site-logo {
  float: left;
  width: 49%;
  margin-top: 25px;
  margin-left: 50px;
}
#header #main-nav {
  width: 300px;
  float: right;
  background-color: #7bb142;    /* @media max-width: 650px のbg-colorの修正あり */
  border-radius: 6px;
  margin-top: 35px;
  margin-right: 50px;
  padding: 5px;
  height: 26px;
}
#header #main-nav li {
  float: left;
  width: 50%;
  text-align: center;
}
#header #main-nav li a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px/1.231;
}

#contents {
  clear: both;
  margin-bottom: 51px;
}

#posts li.item {
  width: 220px;
  margin: 10px 0 0 10px;
  float: left;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
}
#posts li.item div {
  padding: 10px;
}
#posts li.item .date {
  font-size: 80%;
  color: #808080;
}
#posts li.item h2 {
  font-size: 105%;
  margin-bottom: 0.5em;
}
#posts li.item .post_discription {
  font-size: 90%;
}

#myblog {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ddd;
  float: left;
  margin-left: 17px;
  width: 50%;
}
#myblog #blog_head {
  background: rgb(221,221,221); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  color: #333;
/*  margin-bottom: 51px;*/
  padding: 8px;
}
#myblog #blog_head h1 {
  padding: 0.3em 0;
  margin-bottom: 0.5em;
  font-size: 150%;
}
#myblog #blog_head h1:first-letter {
  font-size: 160%;
  color: #339963;
}
#myblog #blog_head .postdate,
#myblog #blog_head .posttags {
  font-size: 85%;
  color: #666666;
}
#myblog .post {
  color: #333;
  padding: 17px;
  margin-bottom: 34px;
}
#myblog .post h2 {
  font-size: 120%;
  margin-bottom: 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#myblog .post h2 span {
  border-bottom: 3px solid #339963;
  padding-bottom: 8px;
}
#myblog .post h3 {
  font-size: 100%;
  margin-bottom: 0.5em;
}
#myblog .post p {
  margin-bottom: 1em;
}
#myblog .post img {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #aaa;
}
#myblog .post ul {
  margin-bottom: 1em;
}
#myblog .post li {
  list-style-type: circle;
  margin-left: 2em;
}
#myblog .post .img_position {
  text-align: center;
}
#myblog .post blockquote {
  margin-left: 1.5em;
  padding-left: 0.5em;
  font-size: 85%;
  border-left: 2px solid #eeeeee;
}
#myblog #socialbuttons {
  padding: 0 1em;
}
#myblog #socialbuttons div {
  float: left;
}

#more {
  width: 45%;
  float: right;
  margin-right: 17px;
  color: #333;
}
#more h2 {
  margin: 1.5em auto 1em;
  border-bottom: 1px solid #fff;
  font-size: 110%;
}

#main_box {
  margin: 50px;
}
#main_box p {
  margin-bottom: 1em;
}
#main_box #box-master {
  width: 60%;
  float: right;
  margin-left: 3%;
  margin-bottom: 100px;
}
#main_box #box-slave {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-bottom: 100px;
}

#footer {
  clear: both;
  padding: 1.5em;
  text-align: right;
  border-top: 7px solid #666;
  font-size: 80%;
}

/* シンタックスハイライト */
.highlight {
  margin-bottom: 34px;
  overflow: scroll;
}
.highlight pre {
  boder: 1px solid #aaa;
  padding: 0.5em;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

@media screen and (max-width: 1238px) {
  #header #main-nav {
  }
}

@media screen and (max-width: 980px) {
  #header #site-logo {
    margin-left: 0;
  }
  #header #main-nav {
    margin-right: 8px;
    width: 300px;
  }
  #header #main-nav li a {
    font-size: 12px/1.231;
  }
  /* ブログ */
  #myblog {
    margin-left: 8px;
  }
  #more {
    margin-right: 8px;
  }
}

@media screen and (max-width: 650px) {
  html {
    padding: 0;
  }

  #header #site-logo {
    margin-left: 0;
    width: 58%;
  }
  #header #main-nav {
    background-color: transparent;
    border-radius: 0;
    margin-right: 0;
    margin-top: 15px;
    width: 40%;
  }
  #header #main-nav li {
    background-color: #7bb142;
    border-bottom: 1px solid #fff;
    border-radius: 6px;
    float: none;
    width: 100%;
    text-align: center;
  }
  /* ブログ */
  #myblog {
    clear: both;
    float: none;
    margin-bottom: 25px;
    margin-left: 0;
    width: auto;
  }
  #more {
    clear: both;
    float: none;
    margin-right: 0;
    padding: 17px;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  #header #site-logo {
    margin-left: 0;
    width: 65%;
  }
  #header #main-nav {
    width: 30%;
  }
  #header #main-nav li a {
  }
}
